﻿<html>
<head>
<meta http-equiv="Content-Type" width="1280" height="1024" border="0" content="text/html; charset=utf-8"> 
<style type="text/css"> 
h1 {color:white; background-color:blue;} 
h3 {color:red;} 
</style> 
</head>

<body>

<div>
<h1>RFID校園停車場之應用</h1>
<h3>古書鳴、洪新傑、黃承雋、胡哲綸 </h3>
<p>儲值介面.</p>

<form action="/SaveDollar" method="post" accept-charset="utf-8">
<input type="textbox" value="100">
<input type="submit" value="確定">
</form>
</div>
<p><b>指導老師 宋志揚. 2013.</b></p>
</div>

</body>
</html>